/* Skeleton.module.css */
.skeleton {
    background-color: var(--card-border);
    border-radius: 0.25rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.text {
    height: 1rem;
    margin-bottom: 0.5rem;
}

.rect {
    width: 100%;
    height: 100%;
}

.circle {
    border-radius: 50%;
}